* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}
/*body style*/
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #e6e6e6;
  font-family: "Space Grotesk", sans-serif;
}

/*header + nav bar*/
header {
  width: 100%;
  padding: 20px 40px;
  background: black;
  border-bottom: 1px solid white
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav .nav-links {
  display: flex;
  gap: 20px;
}

nav .nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
}
/*logo style*/
.logo {
  font-family: "Audiowide", cursive;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0 0 10px #b57bff, 0 0 20px #974bff80;
}
/*nav links*/
nav a {
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
}
/*hover effect*/
nav a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #d38bff;
}
/*main*/
.title {
  text-align: center;
  padding: 100px 20px 40px;
}
.title h1 {
  font-family: "Audiowide", cursive;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 0 0 10px #b57bff, 0 0 20px #974bff80;
  animation: pulse 2s infinite alternate ease-in-out;
}
/*animation*/
@keyframes pulse {
50% { text-shadow: 0 0 110px #e600ff, 0 0 40px ; }
100% { text-shadow: 0 0 110px cyan, 0 0 20px; }
}
/*subtitle text*/
.subtitle {
  margin-top: 10px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #bfa3ff;
}
/*event details block*/
.event-details {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 20px;
  line-height: 1.8;
  color: #e6e6e6;
}
/*footer*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: black;
  color: #fff;
  text-align: center;
  border-top: 1px solid white;
}

/*mobile adjustments*/
@media (max-width: 480px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }
  .title h1 {
    font-size: 2.8rem;
  }
  .event-details {
    font-size: 1rem;
  }
}
