* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #e6e6e6;
  font-family: "Space Grotesk", sans-serif;
}




