* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #e6e6e6;
  font-family: "Space Grotesk", sans-serif;
}

header {
  width: 100%;
  padding: 20px 40px;
  background: black;
  border-bottom: 1px solid white
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Space Grotesk", serif;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0 0 10px #b57bff, 0 0 20px #974bff80;
}
nav a {
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
}

nav a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #d38bff;
}

.title {
  text-align: center;
  padding: 100px 20px 40px;
}
.title h1 {
  font-family: "Space Grotesk", serif;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 0 0 10px #b57bff, 0 0 20px #974bff80;
}
.subtitle {
  margin-top: 10px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #bfa3ff;
}

